$title_color                : #fff;
$background_color           : #3a4052;
$btn_color                  : #000;
$footer_color               : rgba(0,0,0,0.6);


$paragraph_text-color       : #555;
$primary-color              : #EDECEC;
$div_dark_paragraph-color   : #aaa;
$border-color               : #c6c6c6;

$height_input               : 70px;
$container_width            : 90%;

