<footer class="footer_block">
    <div class="all_footer container">
        <div class="copyrite_block">
            <p class="footer_logo">TrueChange</p>
            <p class="copiryte">Copyrite &copy; TrueChange 2019-2020.</p>
        </div>
        <div class="links">
            <div class="about_us">
                <a href="/about" class="footer_link">О нас</a>
            </div>
            <div class="rules">
                <a href="" class="footer_link">Правила</a>
            </div>
            <div class="call_us">
                <a href="/call_us" class="footer_link">Обратная связь</a>
            </div>
        </div>
    </div>
</footer>