<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="main.css" rel="stylesheet"></head>
<title>TrueChange | Rules</title>
</head>
<body>

<section class="main_block">
    <div class="wrapper_block container">

        <%- include('components/navbar.html'); %>

        <div class="all_rules_block">
            <h3 class="title_h3">
                Правила использования
            </h3>
            <div class="position_block">
                <div class="left_rules">
                    <h4 class="rules_title"> 1. Общие положения </h4>
                    <ul>
                        <li>
                            <p>1. Настоящее Соглашение регламентирует порядок и условия предоставления услуг сервисом TrueChange.com</p>
                        </li>
                        <li>
                            <p>2. TrueChange.com – программно-аппаратный сервис, находящийся в сети интернет по адресу TrueChange.com</p>
                        </li>
                        <li>
                            <p>3. Клиент - лицо, желающее воспользоваться услугами TrueChange.com</p>
                        </li>
                        <li>
                            <p>4. TrueChange.com и Клиент совместно именуются Стороны.</p>
                        </li>
                        <li>
                            <p>5. Стороны признают настоящее Соглашение в электронной форме равнозначным по юридической силе Соглашению, заключенному в письменной форме.</p>
                        </li>
                        <li>
                            <p>6. Настоящее Соглашение считается заключенным на условиях публичной оферты, акцептуемой Клиентом в ходе подачи заявки на сайте TrueChange.com на использование услуг, предоставляемыми сервисом.</p>
                        </li>
                    </ul>
                    <h4 class="rules_title"> 2. Предмет соглашения </h4>
                    <ul>
                        <li>
                            <p>1. TrueChange.com оказывает Клиенту услуги (пункт 4 Соглашения) в соответствии с регламентом (пункт 5 Соглашения) при соблюдении обязательных условий (пункт 9 Соглашения).</p>
                        </li>
                        <li>
                            <p>2. Клиент пользуется услугами TrueChange.com и оплачивает их в соответствии с условиями настоящего Соглашения.</p>
                        </li>
                    </ul>
                    <h4 class="rules_title">3. Права и обязанности сторон</h4>
                    <ul>
                        <li>
                            <p>1. TrueChange.com обязуется:</p>
                            <ul>
                                <li>
                                    <p>1. Оказывать Клиенту услуги по обмену электронных денег платежных систем QIWI, ЯндексДенег, WebMoney согласно правилам и регламенту настоящего Соглашения.</p>
                                </li>
                                <li>
                                    <p>2. Оказывать Клиенту необходимую ему техническую и консультационную поддержку, связанную с использованием и предоставлением услуг TrueChange.com.</p>
                                </li>
                                <li>
                                    <p>3. Не хранить информацию (адреса, суммы, время, идентификационные данные (персональные данные) и т.д.) по обменным операциям Клиентов и предоставлять её по первому требованию Клиентов, к которым она относится.</p>
                                </li>
                                <li>
                                    <p>4. Не разглашать информацию по обменным операциям, а также личные данные Клиентов TrueChange.com третьим лицам, за исключением следующих ситуаций:</p>
                                    <ul>
                                        <li><p>по законному решению суда по месту нахождения владельца сервиса TrueChange.com;</p></li>
                                        <li><p>по законному запросу компетентных органов по месту нахождения владельца сервиса TrueChange.com;</p></li>
                                        <li><p>по запросу администрации одной из платежных систем;</p></li>
                                    </ul>
                                </li>
                                <li>
                                    <p>5. Перевести средства, причитающиеся клиенту или третьему лицу на указанные реквизиты не позднее 48 часов с момента обращения клиента с жалобой о не приходе после обмена средств, в случаях, описанных в пунктах 3.2.5, 5.4, 5.5 и 5.6 настоящего Соглашения.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>2. Клиент обязуется:</p>
                            <ul>
                                <li>
                                    <p>1. Указывать точные и достоверные платежные реквизиты как свои, так и третьих лиц.</p>
                                </li>
                                <li>
                                    <p>2. Указывать точный, достоверный и работоспособный электронный почтовый ящик.</p>
                                </li>
                                <li>
                                    <p>3. Следить за работоспособностью своего ящика электронной почты, компьютера, в том числе применять актуальные антивирусные ПО.</p>
                                </li>
                                <li>
                                    <p>4. Выполнять каждый пункт настоящего Соглашения.</p>

                                </li>
                                <li>
                                    <p>5. Сообщить администрации TrueChange.com о частичном или полном не поступлении средств на указанные реквизиты клиента или третьего лица в результате произведенного обмена, а также о не поступлении средств, в случаях, указанных в пунктах 5.4, 5.5 и 5.6 не позднее 30-ти дней с момента не поступления средств, в противном случае эти средства поступают в распоряжение администрации TrueChange.com.</p>
                                </li>
                                <li>
                                    <p>6. Предоставить заведомо верный номер своего мобильного телефона для регистрации, контрольного (входящего) звонка от службы безопасности сервиса, получения паролей, коротких текстовых сообщений (SMS/СМС) и других способов информирования и дополнительной идентификации для сервисаTrueChange.com.</p>
                                </li>
                                <li>
                                    <p>7. Своими действиями не нарушать действующее законодательство страны, в которой находится Клиент, осуществляя обменные операции с помощью сервиса TrueChange.com.</p>

                                </li>
                                <li>
                                    <p>8. Клиент обязуется оплачивать точные суммы строго на выданные реквизиты в рамках одного обмена. В противном случае TrueChange.com имеет право приостановить выплату на сутки или отказать в выплате в случае, если карта получателя, выданная в рамках заказа, стала недоступна по причине кражи/блокировки средств её владельцем.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>3. Администрация TrueChange.com имеет право:</p>
                            <ul>
                                <li>
                                    <p>1. Приостанавливать сервис для технической модернизации или устранения функциональных ошибок.</p>
                                </li>
                                <li>
                                    <p>2. Приостанавливать текущий обмен (транзакцию), в случае законного обращения компетентных органов, администраций платежных систем, а также пользователей с жалобой о мошенничестве, на время выяснения обстоятельств.</p>
                                </li>
                                <li>
                                    <p>3. Устанавливать и изменять размер скидок на обмен электронных денег по своему усмотрению.</p>
                                </li>
                                <li>
                                    <p>4. Устанавливать и изменять размер комиссии, взимаемой с клиента в результате обмена электронных денег, по своему усмотрению.</p>

                                </li>
                                <li>
                                    <p>5. Отказать в предоставлении услуг любому клиенту без объяснения причин.</p>
                                </li>
                                <li>
                                    <p>6. Требовать от Клиента подтверждения своей принадлежности к электронному обмену с помощью: E-mail, скриншота электронного кошелька, а также, в случае необходимости, путем проверочного звонка на номер телефона, указанных при заполнении формы обмена, с которого были отправлены средства для совершения электронного обмена, если этот обмен завершился с ошибкой.</p>
                                </li>
                                <li>
                                    <p>7. Прекратить переписку или переговоры с Клиентом, если Клиент грубит, оскорбляет, задает вопросы, не относящиеся к службе поддержки TrueChange.com или сам не отвечает на поставленные вопросы службы поддержки.</p>

                                </li>
                                <li>
                                    <p>8. Заблокировать обмен согласно пунктам 5.4, 5.5 и 5.6 регламента обмена электронных денег. </p>
                                </li>
                                <li>
                                    <p>9. В случае, если банковские реквизиты получателя (TrueChange.com) были заблокированы банком сразу, после получения оплаты от клиента, TrueChange.com не осуществляет выплату по заказу до тех пор, пока держатель карты не получит заблокированную сумму в банке. </p>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </div>
                <div class="right_rules">
                    <h4 class="rules_title">4. Предоставляемые улсуги</h4>
                    <ul>
                        <li><p>1. TrueChange.com предоставляет следующие услуги: обмен электронных денег, на сайте TrueChange.com, а именно обмен BTC, LTC и ETH с возможным использованием банков указанных на сайте.</p></li>
                        <li><p>2. TrueChange.com не проверяет правомочность и законность владения Клиентом средствами, предлагаемыми к обмену.</p></li>
                    </ul>
                    <h4 class="rules_title" >5. Регламент обмена электронных денег</h4>
                    <ul>
                        <li><p>1. Обмен считается начатым, когда сервис TrueChange.com получит от Клиента полную сумму, предназначенную для данного обмена.</p></li>
                        <li><p>2. Обмен считается законченным, когда TrueChange.com переведет предназначенную Клиенту или третьему лицу сумму на платежные реквизиты, указанные Клиентом, в результате данного обмена.</p></li>
                        <li><p>3. Обмен электронными денежными средствами не может быть отменен, если он уже начат, так же как и возврат Клиенту денежных средств, которые он хотел обменять.</p></li>
                        <li><p>4. В случае поступления от Клиента суммы отличной от той, что была указана при оформлении обмена, TrueChange.com имеет право приостановить обмен, а в дальнейшем после обращения Клиента, согласно пункту 3.2.5, выплатить фактически полученную сумму, пересчитанную по курсу, который действовал на момент начала обмена.</p></li>
                        <li><p>5. В случае, если Клиент указал не существующие или заблокированные реквизиты и фактическая выплата не была осуществлена TrueChange.com может приостановить обмен, а в дальнейшем после обращения Клиента, согласно пункту 3.2.5, вернуть средства на счет, с которого они поступили, за вычетом комиссии платежных систем и штрафа в размере 2% от возвращаемой суммы.</p></li>
                        <li><p>6. В случае изменения примечания к платежу или оплаты выписанного счета с другого аккаунта обмен может быть заблокирован, а после обращения Клиента, согласно пункту 3.2.5 сумма обмена будет возвращена за вычетом 1% от суммы обмена и комиссии платежных систем.</p></li>
                    </ul>
                    <h4 class="rules_title" >6. Ответственности сторон</h4>
                    <ul>
                        <li><p>1. TrueChange.com не несет ответственности и не возмещает убытки, возникшие при неправильном (несанкционированном) использовании сервиса, а также ошибок Клиента, совершенных при заполнение формы обмена, которые могут привести к переводу средств на ошибочно указанный счет, в этом случае отменить операцию обмена или вернуть средства обратно невозможно.</p></li>
                        <li><p>2. TrueChange.com не несет ответственности за потери и/или ущерб (убыток), возникший в связи с невозможностью использования Клиентом собственного оборудования и/или его элементов и/или отсутствием необходимой полной или частичной функциональности оборудования или его элементов.</p></li>
                        <li><p>3. TrueChange.com не несет ответственности за ошибки, упущения или задержки платежей, допущенные электронными платежными системами и банками.</p></li>
                    </ul>
                    <h4 class="rules_title">7. Изменение информации</h4>
                    <ul>
                        <li><p>1. Настоящее Соглашение может быть изменено и дополнено администрацией TrueChange.com; изменения вступают в силу с момента публикации Соглашения на Интернет-сайте TrueChange.com</p></li>
                    </ul>
                    <h4 class="rules_title">8. Форс-мажор</h4>
                    <ul>
                        <li><p>1. Стороны не несут ответственность за задержки или неисполнение своих обязательств, согласно настоящего Соглашения и/или договоренностей, в результате возникновения обстоятельств непреодолимой силы, включая (без ограничения) стихийные бедствия, акты правительственной или регулирующей власти, войны, огня (пожара), наводнения, взрыва, терроризма, бунта, гражданского волнения, хакерских атак, отсутствия, не функционирования или сбоя работы энергоснабжения, поставщиков Интернет услуг, сетей связи или других систем, сетей и услуг.</p></li>
                    </ul>
                    <h4 class="rules_title" >9. Обязательные условия проведения обменных операций</h4>
                    <ul>
                        <li><p>1. Запрещено пользоваться услугами сервиса TrueChange.com для проведения незаконных переводов и мошеннических действий. Пользуясь услугами сервиса TrueChange.com, Клиент дает согласие на то, что любая попытка обмена средств сомнительного происхождения будет иметь судебное преследование в соответствии с действующим законодательством страны, с территории которой Клиент осуществляет обменные операции.</p></li>
                        <li><p>2. Администрация сервиса TrueChange.com оставляет за собой право предоставлять информацию о подобных платежах компетентным органам, администрациям платежных систем, а также жертвам мошеннических действий по их требованию, если факт незаконных действий будет доказан.</p></li>
                        <li><p>3. Обмен производится при условии, что Клиент при помощи сервиса TrueChange.com выводит цифровые знаки только со своего электронного кошелька и сам несет ответственность за источники и способы поступления на его электронный кошелек, ввиду отсутствия возможности проверки их происхождения Сервисом TrueChange.com.</p></li>
                        <li><p>4. Сервис TrueChange.com не несет ответственности за совершенные обменные операции по поручению Клиента в пользу третьих лиц.</p></li>
                        <li><p>5. Использование сервиса TrueChange.com, после нажатия кнопки «Я согласен с правилами обмена», означает, что Клиент принимает все требования согласно настоящего Соглашения.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('components/footer.html'); %>

<script src="main.js"></script>
</body>
</html>